* {
  margin: 0;
  padding: 0;
}

/* 头部 */
body {
  background-color: cornsilk;
}
header {
  width: 1800x;
  height: 70px;
  text-align: center;
  background-color: darkgray;
}
label {
  font-size: 20px;
  line-height: 70px;
  margin-right: 50px;
}
#title {
  width: 260px;
  height: 30px;
  border-radius: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: darkgray;
}
button {
  width: 50px;
  height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(16, 238, 53);
  text-align: center;
  border-radius: 10px;
}
/* 正在进行 */
#star {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}

h2 {
  float: left;
  margin-top: 20px;
  margin-left: 460px;
}
ol {
  float: left;
  margin-top: 5px;
  margin-left: 625px;
}
ol li {
  width: 420px;
  height: 30px;
  background-color: red;
  border: 1px solid black;
  border-radius: 15px;
}
ol li input {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 20px;
}
ol li p {
  float: left;
  font-size: 20px;
  margin-top: 2px;
  margin-left: 50px;
}
ol li a {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}
/* 已经完成的 */
#over {
  width: 100%;
  overflow: hidden;
  margin: 50px auto;
}

#over h2 {
  float: left;
  margin-top: 20px;
  margin-left: 460px;
}
ul {
  float: left;
  margin-top: -30px;
  margin-left: 625px;
}
ul li {
  width: 420px;
  height: 30px;
  background-color: skyblue;
  border: 1px solid black;
  border-radius: 15px;
}
ul li input {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 20px;
}
ul li p {
  float: left;
  font-size: 20px;
  margin-top: 2px;
  margin-left: 50px;
}
ul li a {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}
span {
  display: block;
  font-size: 14px;
  width: 20px;
  height: 20px;
  background-color: slategrey;
  border-radius: 10px;
  float: right;
  margin-top: -14px;
  margin-right: -482px;
}
/* 手机端 */
@media screen and (max-width: 420px) {
  header {
    width: 800x;
    height: 45px;
    text-align: center;
    background-color: darkgray;
  }
  label {
    font-size: 14px;
    line-height: 35px;
    margin-left: -10px;
    margin-right: 2px;
  }
  #title {
    width: 240px;
    height: 30px;
    margin-left: 0px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: darkgray;
  }
  /* 正在进行 */
  #star {
    width: 100%;
    overflow: hidden;
    margin: 45px auto;
  }

  #star h2 {
    float: left;
    margin-top: 13px;
    margin-left: 1px;
    font-size: 17px;
  }
  ol {
    float: left;
    margin-top: 35px;
    margin-left: 15px;
  }
  ol li {
    width: 297px;
    height: 28px;
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
  }
  ol li input {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }
  ol li p {
    float: left;
    font-size: 20px;
    margin-top: 2px;
    margin-left: 50px;
  }
  ol li a {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
  /* 已经完成的 */
  #over {
    width: 100%;
    overflow: hidden;
    margin: 40px auto;
  }

  #over h2 {
    float: left;
    margin-top: 13px;
    margin-left: 1px;
    font-size: 17px;
  }
  ul {
    float: left;
    margin-top: 35px;
    margin-left: 15px;
  }
  ul li {
    width: 297px;
    height: 28px;
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 15px;
  }
  ul li input {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }
  ul li p {
    float: left;
    font-size: 20px;
    margin-top: 2px;
    margin-left: 50px;
  }
  ul li a {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
  span {
    display: block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    background-color: slategrey;
    border-radius: 10px;
    float: right;
    margin-top: -13px;
    margin-right: -276px;
  }
}
